:root,
body {
  padding: 0;
  margin: 0;
  background-color: #EFEFEF;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
}

main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  block-size: 100vh;
  padding: 16px;
  overflow: hidden;
  gap: 20px;
}

.rdg.fill-grid {
  block-size: 100%;
}

.brandmark .gradient {
  background: rgb(69,186,75);
  background: linear-gradient(121deg, rgba(69,186,75,1) 0%, rgba(0,212,255,1) 41%, rgba(0,59,255,1) 75%, rgba(0,212,255,1) 82%, rgba(69,186,75,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.brandmark .subtitle {
  font-weight: lighter;
}

.category__flaky {
  background-color: rgb(206, 147, 216);
}

.category__good {
  background-color: rgb(165, 214, 167);
}

.category__bad {
  background-color: rgb(239, 154, 154);
}

.category__- {
  background-color: #efefef;
}

input {
  margin: 8px;
}

.brandmark .gradient.shimmer {
  background-size: 200% auto;
  animation: shimmer 7s ease-in-out infinite alternate;
}

@keyframes shimmer {
  to {
    background-position: 200%;
  }
}
