.autoroll-data {
  display: block;
}
    .autoroll-data section {
      padding: 10px;
    }

    .autoroll-data footer {
      border-top: 1px solid var(--border-color);
      padding: 10px;
    }

    .autoroll-data .header {
      padding: 10px;
      border-bottom: 1px solid var(--border-color);
    }

    .autoroll-data h2 {
      margin-bottom: 0;
    }

    .autoroll-data .commit {
      margin: 0 5px;
    }

    .autoroll-data .step {
      display: block;
      margin: 2px;
      font-size: 90%;
      flex: none;
      width: 50px;
      text-align: center;
      border-radius: 5px;
      font-family: var(--monospace);
    }

    .autoroll-data .step.fail {
      background-color: #ffcdd2;
    }

    .autoroll-data .step.success {
      background-color: #c8e6c9;
    }

    .autoroll-data .step.not-available {
      background-color: #e0e0e0;
    }
