.cdn-status {
}
    .cdn-status h2 {
      margin: 0;
    }

    .cdn-status .header {
      padding: 10px;
    }

    .cdn-status footer {
      padding: 10px;
      border-top: 1px double var(--border-color);
    }

    .cdn-status section.grid {
      display: grid;
      grid-template-columns: fit-content(100%) auto auto auto;
    }

    .cdn-status .cell {
      padding: 5px 10px;
      border-top: 1px solid var(--border-color);
    }

    .cdn-status .cell.header {
      text-align: center;
    }

    .cdn-status .cell.revision {
      justify-content: center;
      border-right: 1px solid var(--border-color);
    }

