.cronjobs-header {
  background-color: #434449;
  padding: 10px;
}
    .cronjobs-header a {
      margin: 2 5px;
    }

    .cronjobs-header .badges {
      justify-content: center;
      flex-wrap: wrap;
    }
