.docker-size {
}
    .docker-size header {
      padding: 10px;
      border-bottom: 1px double var(--border-color);
    }

    .docker-size footer {
      padding: 10px;
      border-top: 1px double var(--border-color);
    }

    .docker-size h2 {
      margin: 0;
    }

    .docker-size section {
      padding: 10px;
    }
        .docker-size .row .message {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 0 2px;
        }

    .docker-size .size-delta {
      border-radius: 4px;
      padding: 1px 5px;
      font-size: 80%;
      font-family: var(--monospace);
      margin: 2px 2px;
      white-space: nowrap;
    }

