

.flakiness {
}

  .flakiness .commit-date {
    color: grey;
  }

  .flakiness .specfile {
    border-top: 1px solid var(--border-color);
    margin-top: 2px;
  }

  .flakiness .specname {
    margin-left: 1em;
    align-items: center;
    flex-wrap: wrap;
  }

  .flakiness .healthstats {
    cursor: pointer;
  }

  .flakiness table-row {
    display: flex;
    align-items: center;
  }

  .flakiness spec-column {
    display: flex;
    align-items: center;
    width: 500px;
    flex: none;
  }

  .flakiness filter-column {
    width: calc(5em + 400px);
  }

  .flakiness health-column {
    display: flex;
    align-items: center;
    width: 5em;
    flex: none;
  }

  .flakiness results-column {
    display: flex;
    align-items: center;
    width: 400px;
    flex: none;
  }

  .flakiness [x-commit-info] {
    width: 18px;
    height: 18px;
    margin: 1px;
    box-sizing: border-box;
    user-select: none;
    flex: none;
    cursor: pointer;
  }
      .flakiness [x-commit-info]:hover {
        filter: brightness(0.8);
      }
      .flakiness [x-commit-info].highlighted {
        border: 2px solid #757575;
        border-radius: 2px;
      }

  .flakiness .terminal {
    padding: 1em;
    background-color: black;
    color: lightgrey;
  }
      .flakiness .terminal select {
        background-color: inherit;
        color: inherit;
      }

      .flakiness .terminal .terminal-content {
        overflow: auto;
        font-family: var(--monospace);
        white-space: pre;
        margin-top: 1em;
        max-width: 1000px;
      }

  .flakiness .stack-toggle {
    user-select: none;
    cursor: pointer;
    padding: 0 2px;
    margin: 0 2px;
    background: #fafafa;
    border: 1px solid grey;
    font-size: 8px;
    border-radius: 2px;
  }
      .flakiness .stack-toggle[selected] {
        background: #e0e0e0;
      }

flakiness-summary {
  margin: 1em 0;
  display: inline-block;
}
    flakiness-summary a-row {
      display: block;
      padding: 0 1em;
    }
        flakiness-summary a-row.first-row {
          padding-bottom: 4px;
          margin-bottom: 4px;
          border-bottom: 1px solid var(--border-color);
        }

    flakiness-summary a-column {
      display: inline-block;
      text-align: center;
    }
        flakiness-summary a-column.first-column {
          text-align: left;
          border-right: 1px solid var(--border-color);
        }
