@import url("./typography.css");
@import url("./popover.css");

body {
  font-size: 12px;
  --popover-color: #fff9c4;
}

/**
 * - add to flex container or grid items to remove the `min-width: fit-content` default beahvior
 * - add to inline containers to force text-overflow
 */
[text_overflow] {
  overflow: hidden;
  text-overflow: ellipsis;
}

[hoverable]:hover > * {
  background-color: lightyellow;
}

.log-row-icon {
  padding: 1px 6px;
  margin-right: 6px;
  border-radius: 6px;
  font-family: var(--regular);
  font-weight: bold;
  font-size: 60%;
  flex: none;
}

  .log-row-icon.msg-type-send {
    background-color: #ff9800;
    color: white;
  }

  .log-row-icon.msg-type-recv {
    background-color: #2196f3;
    color: white;
  }

  .log-row-icon.msg-type-raw {
    background-color: gray;
    color: white;
  }

  .log-row-icon.msg-type-cmd {
    background-color: #4caf50;
    color: white;
  }

  .log-row-icon.msg-type-event {
    background-color: #3f51b5;
    color: white;
  }

