@import url("./typography.css");
@import url("./popover.css");

hbox, vbox {
  overflow: hidden; /* opt-out of default min-width: fit-content and min-height: fit-content; */
}

body {
  font-size: 12px;
  --popover-color: #fff9c4;
}

[text_overflow] {
  overflow: hidden;
  text-overflow: ellipsis;
}

.log-row-icon {
  padding: 1px 6px;
  border-radius: 6px;
  font-family: var(--regular);
  font-weight: bold;
  font-size: 60%;
  flex: none;
}

  .log-row-icon.msg-type-send {
    background-color: #ff9800;
    color: white;
  }

  .log-row-icon.msg-type-recv {
    background-color: #2196f3;
    color: white;
  }

  .log-row-icon.msg-type-raw {
    background-color: gray;
    color: white;
  }

  .log-row-icon.msg-type-cmd {
    background-color: #4caf50;
    color: white;
  }

  .log-row-icon.msg-type-event {
    background-color: #3f51b5;
    color: white;
  }

