body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.gallery {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  grid-auto-flow: dense;
}

.tile {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px #EEEEEE;
}

