.test-status {
  padding: 10px;
}
    .test-status h2 {
      margin: 0;
    }

    .test-status .header {
      align-self: start;
    }

.test-status-details {
  align-items: start;
}
    .test-status-details img {
      margin-right: 1em;
    }

    .test-status-details .total-bad-tests {
      color: red;
      font-weight: bold;
    }

    .test-status-details .total-tests {
      color: green;
      font-weight: bold;
    }

    .test-status-details summary {
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
    }

    .test-status-details ol {
      padding-inline-start: 2em;
    }

    .test-status-details .toggle {
      border-bottom: 1px dashed var(--text-color);
      cursor: pointer;
    }
