.test-status {
  padding: 10px;
}
    .test-status h2 {
      margin: 0;
    }

    .test-status .header {
      align-self: start;
    }

.test-status-details {
}
    .test-status-details grid-row {
      display: flex;
      flex-direction: row;
      flex: none;
      align-items: center;
    }

    .test-status-details grid-cell {
      flex: none;
      display: flex;
      flex-direction: column;
    }

    .test-status-details grid-row.titlerow {
      align-items: flex-end;
    }

    .test-status-details .cell-filepath {
      width: 400px;
      flex: none;
    }

    .test-status-details .cell-browser {
      width: 150px;
      padding: 0 10px;
      flex: none;
    }

    .test-status-details grid-row:not(.titlerow):hover {
      background-color: #fffde7;
    }

    .test-status-details .cell-browser {
      align-items: center;
    }

    .test-status-details .filepathrow {
      cursor: pointer;
      border-top: 1px solid var(--border-color);
    }

    .test-status-details .total-bad-tests {
      color: red;
      font-weight: bold;
    }

    .test-status-details .total-tests {
      color: green;
      font-weight: bold;
    }

    .test-status-details .testname {
      margin-left: 1em;
      flex: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      align-self: start;
    }

    .test-status-details strong {
      padding: 0px 2px;
      color: white;
      font-family: var(--monospace);
      font-size: 9px;
      border-radius: 2px;
      margin: 0 2px;
      width: 5ch;
      display: inline-block;
      box-sizing: content-box;
      text-align: center;
    }

    .test-status-details .fixme {
      background: #9E9E9E;
    }

    .test-status-details .fail {
      background: #f44336;
    }

    .test-status-details .flaky {
      background: #ff9800;
    }
