/* Mini CSS reset and basic typography  */
:root {
  --monospace: Consolas, Menlo, monospace;
  --text-color: #24292e;
  --background-color: #fff;
  --link-color: #0366d6;
  --border-color: #e0e0e0;
}

* {box-sizing: border-box}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

/* General settings */

body {
    margin: 0;
    font: 1em/1.6 system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: var(--text-color);
    font-size: 12px;
}
img, iframe {border: none}

 /* Headlines */

h1,h2,h3,h4,h5,h6 {margin: 0.6em 0; font-weight: normal}

h1 {font-size: 2.625em; line-height: 1.2}

h2 {font-size: 1.625em; line-height: 1.2}

h3 {font-size: 1.3125em;line-height: 1.24}

h4 {font-size: 1.1875em;line-height: 1.23}

h5,h6 {font-size: 1em; font-weight:bold}

table {border-collapse: collapse;border-spacing: 0}

th, td {text-align: left;vertical-align: top}

a {
  color: var(--link-color);
  text-decoration: none;
}

hbox {
  display: flex;
  align-items: center;
}

vbox {
  display: flex;
  flex-direction: column;
}

spacer {
  flex-grow: 1000;
  flex-shrink: 1000;
}

.sha {
  background-color: #eee;
  font-size: 85%;
  font-family: var(--monospace);
  padding: 2px 4px;
  border-radius: 4px;
  text-decoration: none;
}
