/* Mini CSS reset and basic typography  */
:root {
  --monospace: Consolas, Menlo, monospace;
  --regular: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif;
  --text-color: #24292e;
  --background-color: #fff;
  --link-color: #0366d6;
  --border-color: #f3e5f5;
}

* {box-sizing: border-box}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

/* General settings */

body {
    margin: 0;
    font: 1em/1.6 var(--regular);
    font-weight: 400;
    font-style: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: var(--text-color);
    font-size: 12px;
}
img, iframe {border: none}

 /* Headlines */

h1,h2,h3,h4,h5,h6 {margin: 0.6em 0; font-weight: normal}

h1 {font-size: 2.625em; line-height: 1.2}

h2 {font-size: 1.625em; line-height: 1.2}

h3 {font-size: 1.3125em;line-height: 1.24}

h4 {font-size: 1.1875em;line-height: 1.23}

h5,h6 {font-size: 1em; font-weight:bold}

table {border-collapse: collapse;border-spacing: 0}

th, td {text-align: left;vertical-align: top}

a {
  color: var(--link-color);
  text-decoration: none;
}

hbox {
  display: flex;
  align-items: center;
}

vbox {
  display: flex;
  flex-direction: column;
}

spacer {
  flex-grow: 1000;
  flex-shrink: 1000;
}

.sha {
  background-color: #eee;
  font-size: 85%;
  font-family: var(--monospace);
  padding: 2px 4px;
  border-radius: 4px;
  text-decoration: none;
}

.bad {
  background-color: #ffcdd2;
}

.good {
  background-color: #c8e6c9;
}

.normal {
  background-color: #ffe082;
}

.neutral {
  background-color: #e0e0e0;
}

.hover-darken:hover {
  filter: brightness(var(--darken, 85%));
}

.hover-lighten:hover {
  filter: brightness(105%);
}


away-link {
  background-position: center right;
  background-repeat: no-repeat;
  background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E %3Cpath fill=%22%23fff%22 stroke=%22%2336c%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E %3Cpath fill=%22%2336c%22 d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22/%3E %3Cpath fill=%22%23fff%22 d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E %3C/svg%3E");
  width: 13px;
  height: 13px;
  display: inline-block
}
