sort-button {
  cursor: pointer;
  width: 1em;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

expand-button {
  cursor: pointer;
  width: 1em;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

filter-selector {
  padding: 1px;
}
    filter-selector button {
      appearance: none;
      border: none;
      background: initial;
      cursor: pointer;
    }
    filter-selector select {
    }

filter-group {
  display: inline-flex;
  flex-direction: column;
  align-items: start;
}
    filter-group > div > .remove-filter {
      visibility: hidden;
      font-size: 18px;
      font-size: 18px;
      appearance: none;
      border: none;
      background: initial;
      cursor: pointer;
      flex: none;
      color: red;
      opacity: 0.3;
      filter: grayscale(1);
    }
    filter-group:hover > div > .remove-filter {
      visibility: visible;
    }
    filter-group > div > .remove-filter:hover {
      opacity: 1;
      filter: grayscale(0);
    }

    filter-group > div > .remove-filter,
    filter-group > .add-filter {
      appearance: none;
      border: none;
      background: initial;
      cursor: pointer;
      flex: none;
    }
