sort-button {
  cursor: pointer;
  width: 1em;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

expand-button {
  cursor: pointer;
  width: 1em;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

filter-selector {
  padding: 1px;
}
    filter-selector button {
      appearance: none;
      border: none;
      background: initial;
      cursor: pointer;
      width: 1em;
      padding: 0;
    }

    filter-selector select {
      border-top: none;
      border-left: none;
      border-right: none;
    }

filter-conjunction {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}
    filter-conjunction > .and-chip {
      font-family: var(--monospace);
      color: white;
      background: #009688;
      padding: 1px 3px;
      font-size: 8px;
      font-weight: bold;
      border-radius: 2px;
      flex: none;
      margin-right: 6px;
    }

    filter-conjunction > .filter-chip {
      flex: none;
    }

    filter-conjunction > .filter-chip > .remove-filter {
      visibility: hidden;
      font-size: 18px;
      font-size: 18px;
      appearance: none;
      border: none;
      background: initial;
      cursor: pointer;
      flex: none;
      color: red;
      opacity: 0.3;
      filter: grayscale(1);
    }
    filter-conjunction> .filter-chip:hover > .remove-filter {
      visibility: visible;
    }
    filter-conjunction > .filter-chip > .remove-filter:hover {
      opacity: 1;
      filter: grayscale(0);
    }

    filter-conjunction > .filter-chip > .remove-filter,
    filter-conjunction > .add-filter {
      visibility: hidden;
      cursor: pointer;
      opacity: 0.5;
    }
        filter-conjunction:hover > .add-filter {
          visibility: visible;
        }
        filter-conjunction > .add-filter:hover {
          opacity: 1;
        }
