on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 5 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14
      - run: node browser-patches/compute.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

