name: Test Docker
on:
  schedule:
    - cron:  '0 1 * * *'
  push:
    paths:
      - '.github/workflows/test-docker.yml'
    branches:
      - master
  pull_request:
    paths:
      - '.github/workflows/test-docker.yml'
    branches:
      - master
jobs:
  test_linux_docker:
    name: Docker
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        tag: [bionic, focal]
    steps:
    - uses: actions/checkout@v2
      with:
        repository: microsoft/playwright
    - uses: actions/setup-node@v2
      with:
        node-version: 14
    - uses: microsoft/playwright-github-action@v1
    - run: npm ci
    - run: npm run build
    - name: Build
      run: bash utils/docker/build.sh ${{ matrix.tag }} playwright:localbuild-${{ matrix.tag }}
    - name: Test
      run: |
        npm run clean
        rm -rf node_modules/
        CONTAINER_ID="$(docker run --rm -v $(pwd):/root/playwright --name playwright-docker-test -d -t playwright:localbuild-${{ matrix.tag }} /bin/bash)"
        docker exec --workdir /root/playwright/ "${CONTAINER_ID}" sudo apt-get remove -y nodejs
        docker exec --workdir /root/playwright/ "${CONTAINER_ID}" curl -fsSL https://deb.nodesource.com/setup_14.x | sudo bash -
        docker exec --workdir /root/playwright/ "${CONTAINER_ID}" sudo apt-get install -y nodejs
        docker exec --workdir /root/playwright/ "${CONTAINER_ID}" npm ci
        docker exec --workdir /root/playwright/ "${CONTAINER_ID}" npm run build
        docker exec -e CI=1 --workdir /root/playwright/ "${CONTAINER_ID}" xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" npm run test
